{% extends "base.html" %}

{% block content %}
<h2>Meu Carrinho</h2>

<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço unitário</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.item.produto }}</td>
            <td>{{ compra.quantidade }}</td>
            <td>R$ {{ compra.item.preco }}</td>
            <td>R$ {{ compra.total }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Carrinho vazio</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Total: R$ {{ total }}</h4>

<a href="#" class="btn btn-success">Finalizar Compra</a>
{% endblock %}
