{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Carrinho de Compras</h2>

{% if compras %}
<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço unitário</th>
            <th>Subtotal</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in compras %}
        <tr>
            <td>{{ compra.item.produto }}</td>
            <td>{{ compra.quantidade }}</td>
            <td>R$ {{ compra.item.preco }}</td>
            <td>R$ {{ compra.total }}</td>
            <td><button class="btn btn-danger btnRemover" data-id="{{ compra.item.id }}">Remover</button></td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>R$ {{ total }}</strong></td>
        </tr>
    </tbody>
</table>
<a href="#" class="btn btn-success">Finalizar Compra</a>
{% else %}
<p>Seu carrinho está vazio.</p>
{% endif %}
{% endblock %}  {# <- Fecha o bloco content #}

{% block scripts %}
<script src="{% static 'estoque/produtos.js' %}"></script>
{% endblock %}
